.pageWrapper {
    width: 100vw;
    height: 100vh;
    // overflow: hidden;  
}

.top {
    display: flex;
    width: 100vw;
    height: 100vh
}
.content {
    padding-top: 140px;
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
    padding-right: 148px;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    padding-bottom: 160px;

    @media (max-width: 426px) {
        padding-top: 72px;
        padding-right: 16px;
    }
    @media (max-width: 376px) {
        padding-bottom: 80px;
    }
}

.player {
    width: 100vw;
    padding: 16px;
    background-color: #3b3b3b;
    position: fixed;
    bottom: 0;
    height: 120px;
    z-index: 3;

    @media (max-width: 1700px) {
        height: 100px;       
    }

    @media (max-width: 426px) {
        height: 48px;
        padding-left: 8px;       
    }
}