.pageWrapper {
    width: 100vw;
    height: 100vh;
    // overflow: hidden;  
}

.top {
    display: flex;
    width: 100vw;
    // height: 100vh
}
.content {
    padding-top: 140px;
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
    padding-right: 148px;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    padding-bottom: 160px;

    @media (max-width: 426px) {
        background-color: rgb(32, 32, 32);
        padding-top: 72px;
        padding-right: 16px;
    }
    @media (max-width: 376px) {
        padding-bottom: 80px;
    }
}