.sightsCategory{   
    margin-top: 10px;
    width: 100%;
    @media (max-width: 769px) {
        padding: 0px 0px;        
    }

    @media (max-width: 769px) {
        padding: 0px 0px;        
    }

    @media (max-width: 426px) {
        padding: 0px 0px;
            
    }
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
   margin-top: 48px;
   padding-left: 48px;
   
}

.sightsCategoryTitle{
    text-align: left;
    font-family: 'Actor';
    color: #ff6969;
    font-size: 32px;
    font-weight: 500;
}

.moreButton{
    width: 70px;
    padding: 8px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.categoryCards{
    display: flex;
    flex-wrap: wrap; 
    row-gap: 48px;
    width: 100%;
    margin-top: 48px;
    padding: 16px 48px;  
    margin-bottom: 72px;

    @media (max-width: 769px) {
        display: grid;
        grid-template-columns: auto auto;  
          
    }

    @media (max-width: 426px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;  
        row-gap: 0;  
        margin-top: 24px; 
       
    }

    @media (max-width: 496px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;  
        row-gap: 0px;  
        margin-top: 24px; 
       
    }
}

.rec.rec-arrow {
    background-color: red;
}
