.pageWrapper{
    background-color: #EDEDED;
}

.sightsCategory{
    padding: 32px 32px;
    background-color: #fff5f5;
    margin-top: 24px;
    width: 85%;

    @media (max-width: 769px) {
        padding: 32px 32px;        
    }

    @media (max-width: 769px) {
        padding: 32px 14px;        
    }

    @media (max-width: 426px) {
        padding: 20px 16px;
        border-top: solid 1px #686868;        
    }
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.sightsCategoryTitle{
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 500;
}

.moreButton{
    width: 70px;
    padding: 8px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.categoryCards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;

    @media (max-width: 769px) {
        display: grid;
        grid-template-columns: auto auto;        
    }

    @media (max-width: 376px) {
        justify-content: center;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;       
    }
}

.rec.rec-arrow {
    background-color: red;
}
