.hero {
    height: 100vh;
    position: relative;

    @media (max-width: 2881px) {
        height: 100vh;
    }

    @media (max-width: 1601px) {
        height: 100vh;
        width: 100vw;
    }

    @media (max-width: 769px) {
        height: 90vh;
    }

    @media (max-width: 427px) {
        height: 55vh;
    }

    @media (max-width: 376px) {
        // height: 45vh;
    }
}

.poster {
    height: 100vh;
    width: 100%;

    // @media (max-width: 2881px) {
    //     height: 130vh;
    //     width: 100vw;
    // }
    // @media (max-width: 1441px) {
    //     height: 120vh;
    // }
    // @media (max-width: 1025px) {
    //     height: 120vh;
    //     width: 100vw;
    // }
    // @media (max-width: 769px) {
    //     height: 90vh;
    //     width: 100vw;
    // }

    // @media (max-width: 427px) {
    //     height: 55vh;
    // }
    // @media (max-width: 376px) {
    //     // height: 45vh;
    // }
}

.detailsWrapper {
    width: 50%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 5%;
    background: rgba(77, 74, 74, 0.7);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 8px 8px 0 0;
}

.detailsContainer{
    position: relative;
}

.title {
    font-family: 'Actor';
    color: white;
    font-size: 64px;
    text-align: left;
}

.tagsContainer {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 24px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 24px;
}

.description{
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
}

.iconsContainer{
    display: flex;
    margin-top: 40px;
    gap: 40px
}
.iconWrapper{
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    
    &:hover{
        color: #FFD04C
    }
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-color: white;
    border-radius: 50%;
    border-style: solid;
    margin-right: 16px;
    cursor: pointer;
}

.closeButton{
    position: absolute;
    top: -7%;
    right: -2%
}

.nextBtn{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2%;
    right: 2%;
    border-radius: 50%;
}

.prevBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2%;
    right: 5%;
    border-radius: 50%;
    z-index: 1;
}


.ind.active {
    background-color: #FFD04C;
    transition: 500ms 200ms;
}

.ind:not(:last-child) {
    margin-right: 1.4rem;
}