.hero {
    height: 100vh;
    position: relative;
    overflow-y: hidden;

    @media (max-width: 2881px) {
        height: 100vh;
    }

    @media (max-width: 1601px) {
        height: 100vh;
        width: 100%;
    }

    @media (max-width: 769px) {
        height: 70vh;
    }

    @media (max-width: 436px) {
        height: 60vh;
    }

    // @media (max-height: 769px) {
    //     height: 70vh;
    // }

    @media (max-width: 376px) {
        // height: 45vh;
    }
}

.poster {
    height: 100vh;
    width: 100%;

    @media (max-width: 2881px) {
        height: 100%;
    }

    @media (max-width: 1441px) {
        height: 180vh;
    }

    @media (max-width: 1025px) {
        height: 100vh;
    }

    @media (max-width: 769px) {
        height: 100vh;
    }

    @media (max-width: 436px) {
        height: 60vh;
    }
}

.detailsWrapper {
    width: 50%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 1%;
    background: rgba(77, 74, 74, 0.8);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 8px 8px 0 0;

    @media (max-width: 1441px) {
        width: 85%;
        left: 0%;
    }

    @media (max-width: 769px) {
        width: 100%;
        left: 0%;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 0px;
        height: 70%;
    }

    @media (max-width: 496px) {
        display: none;
    }
}

.detailsContainer {
    position: relative;
}

.title {
    font-family: 'Actor';
    color: white;
    font-size: 40px;
    text-align: left;
    font-weight: 500;
    // margin-bottom: 48px;

    @media (max-width: 1441px) {
        font-size: 32px;
    }

    @media (max-width: 436px) {
        font-size: 24px;
    }
}

.tagsContainer {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 24px;
    color: #FFFFFF;
    margin: 24px 0px;

    @media (max-width: 1441px) {
        gap: 16px;
        margin: 16px 0px;
    }

    @media (max-width: 426px) {
        font-size: 14px;
        gap: 8px;
    }
}

.description {
    text-align: left;
    color: white;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    margin-bottom: 24px;

    @media (max-width: 436px) {
        font-size: 16px;
    }
}

.iconsContainer {
    display: flex;
    // margin-top: 40px;
    margin-left: 16px;
    gap: 40px;

    @media (max-width: 1441px) {
        gap: 32px;
    }

    @media (max-width: 769px) {
        gap: 2px;
        margin-top: 16px;
    }

    @media (max-width: 436px) {
        margin-top: 8PX;
    }
}

.iconWrapper {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;

    &:hover {
        color: #FFD04C
    }

    @media (max-width: 769px) {
        gap: 0;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-color: white;
    border-radius: 50%;
    border-style: solid;
    margin-right: 16px;
    cursor: pointer;

    @media (max-width: 1441px) {
        transform: scale(48%);
    }
}

.iconsText {
    @media (max-width: 426px) {
        display: none;
    }
}

.closeButton {
    position: absolute;
    top: -7%;
    right: -2%
}

.nextBtn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2%;
    right: 2%;
    border-radius: 50%;

    @media (max-width: 1441px) {
        right: 4%;
    }

    @media (max-width: 496px) {
        display: none;
    }

}

.prevBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2%;
    right: 5%;
    border-radius: 50%;
    z-index: 1;

    @media (max-width: 1441px) {
        right: 4%;
        bottom: 10%;
    }

    @media (max-height: 668px) {
        bottom: 14%;
    }

    @media (max-width: 496px) {
        display: none;
    }
}


.detailsWrapperMobile {
    display: none;

    @media (max-width: 496px) {
        display: block;
        width: 100%;
        height: 70%;
        background: linear-gradient(0deg, #1A1A1A 2.25%, rgba(26, 26, 26, 0) 97.74%);
        position: absolute;
        bottom: 0;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 120px;

        h2 {
            font-family: "Ubuntu";
            font-weight: 500;
            font-size: 24px;
            text-align: center;
            color: #ffffff;
        }

    }
}

.videoDetails,
.buttonRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videoDetails{
    gap: 4px
}

.buttonRow {
    padding: 0px 0px;
    margin-top: 14px;
}

.genre {
    color: white;
    border: white solid 1.5px;
    padding: 2px 6px;
    font-family: 'Ubuntu';
    font-size: 10px;
    text-align: center;
    border-radius: 6px;
}

.category {
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-size: 10px;
}

.addToWatchList{
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    
    p{
        text-align: center;
        color:#FFFFFF;
        font-family: 'Ubuntu';
        font-size: 14px;

        @media (max-width: 496px) {
            font-size: 10px;
        }
    }

    @media (max-width: 496px) {
        width: 132px;
    }
}

.redButton {
    background-color: #FB1036;
    display: flex;
    align-items: center;
    width: 160px;
    height: 40px;
    border-radius: 16px;

    p {
        color: #FFFFFF;
        font-size: 14px;
        font-family: 'Ubuntu';
        text-align: center;

        @media (max-width: 496px) {
            font-size: 10px;
        }
    }

    @media (max-width: 496px) {
        width: 132px;
    }
}

// .ind.active {
//     background-color: #FFD04C;
//     transition: 500ms 200ms;
// }

// .ind:not(:last-child) {
//     margin-right: 1.4rem;
// }
