.playIcon{
    position: absolute;
    top: 60%;
    left: 3%;
    border-radius: 50%;
    background-color: #ff3354;
    display: none;
    transition: all ease-in-out 0.5s;
    
    &:hover{
        transform: scale(105%);
        
    }
}

.categoryCard{
    width: 196px;
    height: 100%;
    position: relative;
    transition: all ease-in-out 0.5s;
    padding-bottom: 24px; 

    &:hover{
        .playIcon{
            display: block;
            top: 50%;
        }
    }
    @media (max-width: 426px) {
        width: 100%
    }
    @media (max-width: 415px) {
        width: 150px
    }
}

.bottomSection{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.cardTitle{
    font-size: 1rem;
    font-weight: 500;
}

.playlistIcon{
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover{
        transform: scale(120%)
    }
}
