.categoryCard{
    width: 196px;
}

.cardImage{
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
}

.bottomSection{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.cardTitle{
    font-size: 1rem;
    font-weight: 500;
}

.playlistIcon{
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover{
        transform: scale(120%)
    }
}