.categoryCard{
    width: 196px;
    height: 100%;
    @media (max-width: 426px) {
        width: 100%
    }
    @media (max-width: 415px) {
        width: 150px
    }
}

.bottomSection{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.cardTitle{
    font-size: 1rem;
    font-weight: 500;
}

.playlistIcon{
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover{
        transform: scale(120%)
    }
}