.pageWrapper{
    padding-top: 80px;
    padding-right: 80px;
    padding-left: 132px;
    width: 100vw;

}

.errorMessage{
    width: 100%;

    p{
        color: red;
        font-family: Arial, Helvetica, sans-serif;
    }
}