.top {
    display: flex;
    width: 100vw;
    height: 100vh
}

.content {
    // background-color: #F2F2F2;
    background: #383838;
    width: 100vw;
    height: 100vh;
    padding-right: 148px;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    padding-bottom: 160px;

    @media (max-width: 426px) {
        // padding-top: 72px;
        padding-right: 16px;
    }

    @media (max-width: 376px) {
        padding-bottom: 80px;
    }
}

.PageWrapper {
    // padding-top: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: #fafafa;

    @media (max-width: 426px) {
        padding-top: 48px;
    }
}

.videoFeatures {
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 88px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;

    // background: #F2F2F2;

    // justify-content: flex-start;
    // align-items: flex-start;
    // gap: 48px;

    @media (max-width: 428px) {
        padding: 16px;
        // flex-direction: column;        
    }
}

.videoDescriptionImage{
    height: 120px;
    width: 120px;

    @media(max-width: 456px) {
        height:56px;
        width: 56px;        
    }
}
.videoDetails {
    width: 50%;
    @media (max-width: 456px) {
        width: 100%;
       
      }
}

.videoDescriptionContainer {
    display: flex;
    width: 100%;
    height: fit-content;
    background: #252525;
    padding: 16px;
    padding-bottom: 32px;
    gap: 24px;
}

.videoTextualData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videoTitle {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 8px;
}

.videoDescription {
    color: #e4e4e4;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 110%;

    @media (max-width: 456px) {
        height: 1%;
      }
}

.seeMoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 24px;
    color: #F8F8F8;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #ff3a5ab3;
    border-radius: 4px;
    display: none;

}

.creators {
    margin-top: 32px;
    font-family: Ubuntu;
    color: #A4A4A4;
    font-size: 16px;

    span {
        color: white;
    }
}

.tags {
    display: flex;
    margin-top: 24px;
    gap: 16px;
}

.tag {
    width: fit-content;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #A4A4A4 solid;
    border-radius: 20px;
    padding: 2px 12px;
    color: #F8F8F8;
    font-family: Ubuntu;
}


.videoQueueContainer {
    // background: #F2F2F2;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: flex-end;
}

.queueContainer {
    width: 100%;
    height: 240px;
    background: #252525;
    position: relative;
    padding-top: 32px;
    padding-bottom: 8px; 
    
    @media (max-width: 456px){
        width: 100%;

    }
}

.queueHeader {
    width: 100%;
    height: 28px;
    align-items: center;
    // padding: 8px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    background: #ff3a5ab3;
    font-weight: 500;
    color: #FFF;
    font-size: 16px;
    z-index: 2;

    @media (max-width: 456px){
        width: 100%;

    }
}

.queueItemsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    overflow-y: scroll;
    // background-color: #f3b9b9;
    
    @media (max-width: 456px){
        width: 100%;

    }
}

.queueItem {
    width: 95%;
    height: 56px;
    display: flex;
    background: #303030;
    gap: 8px;
    margin-bottom: 6px;
}

.queueItemInfo {
    h1 {
        font-size: 12px;
        color: #F8F8F8;
        font-weight: 700;
    }

    p {
        font-size: 12px;
        color: #C1C1C1;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 400;
    }
}

.queueItemImage{
    height: 100%;
    cursor: pointer;
}