.top {
    display: flex;
    width: 100vw;
    height: 100vh
}

.content {
    // background-color: #F2F2F2;
    background: #383838;
    width: 100vw;
    height: 100vh;
    padding-right: 148px;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    padding-bottom: 160px;

    @media (max-width: 426px) {
        // padding-top: 72px;
        padding-right: 16px;
    }
    @media (max-width: 376px) {
        padding-bottom: 80px;
    }
}

.PageWrapper {
    // padding-top: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: #fafafa;

    @media (max-width: 426px) {
        padding-top: 48px;        
    }
}

.videoFeatures {
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 88px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px;

    @media (max-width: 426px) {
        padding: 16px;
        flex-direction: column;        
    }
}

.videoImage{
    margin-top: 48px;
}

.videoDetails {
    width: 50%;

    @media (max-width: 426px) {
        width: 100%;        
    }

    h1 {
        font-family: Ubuntu;
        font-size: 28px;
        color: #f1f1f1;
        font-weight: 500;
    }
}

.videoDescription {
    background-color: #ffffff1a;
    border-radius: 8px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    height: fit-content;
    justify-content: flex-start;

    p {
        color: #e0e0e0;
        font-size: 14px;
        font-family: 'Actor';
        line-height: 125%;
        // color: #262626;
    }

    &:hover{
        background-color: rgba(255, 255, 255, 0.322);
    }
}

.tags {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}

.tag {
    margin-right: 16px;
    padding: 4px;
    display: flex;
    border-radius: 8px;
    background: #ffffff1a;
    align-items: center;
    align-content: center;
    font-family: 'Actor';
    color: white;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.322);
    }
}

.shareButton {
    padding-top: 8px;
    padding-left: 4px;
    display: flex;
    border-radius: 8px;
    background: #ff3a5ab3;
    align-items: center;
    align-content: center;
    transition: width ease-in-out 0.5s;
    transform-origin: left;
    width: 40px;

    span {
        width: 40px;
        height: 40px;
    }

    &:hover {
        background: #ff3a5ab3;
        width: 150px;

        .shareButtonHover {
            transform: scale(1);
            transition: all ease-in-out 0.5s;
        }
    }
}

.shareButtonHover {
    transform: scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;

    span {
        align-items: center;
    }

    transition: all ease-in-out 0.5s;
}

.playlistBox{
    background: linear-gradient(180deg, #DCDCDC 0%, rgba(220, 220, 220, 0) 100%);
    border-radius: 8px;
    margin-top: 72px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    @media (max-width: 426px) {
        width: 80%;
        margin-top: 48px;        
    }

    p{
        text-align: center;
        font-weight: 500;
        color: rgba(255, 58, 90, 0.7);
    }
}
