.playerWrapper {
    width: 100%;
    z-index: 10000;
    background-color: #121212;
    position: fixed;
    bottom: 0;
    padding: 8px;
    -webkit-tap-highlight-color: transparent;
}

.playerFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: column;
    height: 64px;
    width: 100%;
    position: relative;
}

.player {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.playerLeft, .playerRight, .playerCenter{
    height: 100%;
}

.playerLeft {
    min-width: 180px;
    width: 30%;
    display: flex;
    gap: 16px;

    @media (max-width: 429px) {
        width: 60%        
    }
}

.coverArtContainer {
    height: 56px;
    width: 56px;
    background-color: #282828;
    border: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    display: block;
    margin: 0;
    position: relative;
}

.coverArt {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    overflow-clip-margin: content-box;
    overflow: clip;
    cursor: pointer;
    border-radius: 4px;
}

.audioTitles {
    margin: 0px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
}

.audioTitle {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    overflow: hidden;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    @media (max-width: 586px) {
        font-size: 12px;        
    }
}

.audioArtist {
    font-weight: 200;
    font-size: 12px;
    color: #ccc2c2;
    letter-spacing: 1px;
    overflow: hidden;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.addToPlaylistTogglerContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 8px;
}

.addToPlaylistToggler {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: flex;
    justify-content: center;
    touch-action: manipulation;
    background-color: transparent;
    border: none;
    color: hsla(0, 0%, 100%, .7);
    height: 32px;
    min-width: 32px;
    width: 32px;
    cursor: pointer;
}

.playerCenter {
    max-width: 722px;
    width: 40%;
}

.playerControls {
    -webkit-box-direction: normal;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
}

.playbackIcons{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    gap: 16px;
    margin-bottom: 8px;
}

.playerRight {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
    min-width: 180px;
    width: 30%;

    @media (max-width: 449px) {
        position: absolute;
        right: -56px;
        min-width: 0px;
        width: fit-content;
    }
}

.playbackIconsLeft {
    -webkit-box-flex: 1;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    gap: 8px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 449px) {
        display: none
    }
}

.play {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    -webkit-transition: none 33ms cubic-bezier(.3, 0, .7, 1);
    transition: none 33ms cubic-bezier(.3, 0, .7, 1);
    -webkit-transition-property: all;
    transition-property: all;
    width: 32px;
    cursor: pointer;

    @media (max-width: 531px) {
        position: absolute;
        right: 64px;
        top: 25%
    }
}

.playbackIconsRight {
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    gap: 8px;
    align-items: center;

    @media (max-width: 531px) {
        display: none
    }
}

.progressWrapper{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.currentTime,
.totalTime {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Ubuntu';
    color: #b8b8b8;
    min-width: 56px;

    @media (max-width: 829px) {
        min-width: 5px;
    }

    @media (max-width: 531px) {
        display: none
    }
}

.currentTime{
    text-align: right;
}

.totalTime{
    text-align: left;
}

.progressBarContainer{
    width: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 829px) {
        position: absolute;
        top: -16px;
        left: -16px;
        width: 100%        
    }
}

.hiddenVisually {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.progressBarInputRange {
    // -webkit-appearance: none;
    cursor: pointer;
    margin: 2px;
    height: 4px;
    width: 100%;
    background-color: #363636;

    &::-webkit-slider-thumb {
        transform: scale(10%);
        transition: all ease-out .5s;
        color: #FF3354;
        margin-top: -6px;
    }

    &::-webkit-slider-runnable-track{
        background-color: #cecece;
        height: 4px;
    }

    &::-moz-range-thumb {
        transform: scale(10%);
        transition: all ease-out .5s;
        background-color: #FF3354;
    }

    &::-ms-thumb {
        transform: scale(0%);
        transition: all ease-out .5s;
        background-color: #FF3354;
    }

    &:hover {
        &::-webkit-slider-thumb {
            transform: scale(100%);
        }
    }
}

.progressBar{
    touch-action: none;
    width: 100%;
}

.audio{
    display: none;
}


.nowPlaying {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.audioPlaylistContainer{
    position: absolute;
    bottom: 116%;
    right: 5%;
    width: 840px;
    height: 200px;
    background-color: #222222;
    border-radius: 8px 8px 0 0;
    overflow-y: scroll;

    @media (max-width: 1601px) {
        width: 640px;        
    }
    @media (max-width: 769px) {
        width: 480px;        
    }
    @media (max-width: 531px) {
        width: 94%;
        bottom: 100%;
    }
    @media (max-width: 426px) {
        width: 101.8%;
        bottom: 130%;
        right: 0%;        
    }
}

.audioPlaylistWrapper{
    width: 100%;
    height: 100%;
    position: relative;

    .playlistHeader{
        position: sticky;
        top: 0;
        width: 100%;
        height: 40px;
        text-align: center;
        color: #E9E9E9;
        font-family: 'Ubuntu';
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #181818;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2{
            margin-left: 16px;
            font-size: 20px;
            font-weight: 400;
        }
    }
}

.playlistEmptyStatus{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E9E9E9;
    padding-bottom: 32px;
}

.playlistItem{
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid #383838;
    height: 40px;
    cursor: pointer;

    &:hover{
        background-color: #383838;
    }
}

.playlistItemImage{
    height: 40px;
    width: 40px;
}

.playlistItemTitle{
    color: white;
    font-family: 'Ubuntu';
    font-size: 16px;
}

.queBtnWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: -4px;
    margin-left: 0px;

    .queBarText{
        font-size: 6px;
        color: white;
    }

}

.queBtn {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}