.categoryContainer{
    width: 100%;
    padding-left: 48px;
    margin-bottom: 80px;

    h1{
        font-weight: 500;
        font-family: 'Ubuntu';
        margin-bottom: 48px;
        font-size: 2rem;        
    }
}

.categoryCardsContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 48px;

    @media (max-width: 1441px) {
        grid-template-columns: auto auto auto;        
    }
    @media (max-width: 1025px) {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;       
    }
}
