.categoryCardWrapper {
    border-radius: 16px;
    width: 280px;
    height: 300px;
    // background-color: #ececec;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    position: relative;
    
    @media (max-width: 927px) {
        width: 240px;
    }

    @media (max-width: 769px) {
        width: 200px;
        height: 320px;
    }

    @media (max-width: 679px) {
        width: 280px;
    }

    @media (max-width: 501px) {
        width: 190px;
        margin-bottom: 32px;
        background-color: #2c2c2c00;
        height: 200px;
    }

    @media (max-width: 380px) {
        width: 160px;
        margin-bottom: 32px;
        background-color: #2c2c2c00;
        height: 200px;
    }
    @media (max-width: 334px) {
        width: 280px;
        // margin-bottom: 32px;
        background-color: #2c2c2c00;
        height: fit-content;
    }
}

.cardImage {
    border-radius: 16px;
    width: 100%;
    height: 320px;
    object-fit: cover;

    @media (max-width: 1601px) {
        height: 240px;
    }

    @media (max-width: 1401px) {
        height: 200px;
    }
    
    @media (max-width: 927px) {
        height: 160px;
    }

    @media (max-width: 769px) {
        height: 200px;
    }

    @media (max-width: 679px) {
        height: 280px;
    }
    
    @media (max-width: 501px) {
        border-radius: 6px;
        height: 190px;
    }

    @media (max-width: 380px) {
        border-radius: 6px;
        height: 160px;
    }

    @media (max-width: 334px) {
        border-radius: 6px;
        height: auto;
    }
}

.movieTitle {
    align-self: flex-start;
    margin-top: 24px;
    font-size: 16px;
    color: #2b2b2b;
    // text-transform: capitalize;
    font-family: 'Actor';
    font-weight: 600;

    @media (max-width: 501px) {
        // display: none;
        color: white;
        font-size: 12px;
        padding: 0;
        font-weight: 400px;
        margin-top: 8px;    
    }
}

.cardBtn {
    bottom: 2%;
    width: 60%;
    display: flex;
    border-radius: 4px;
    margin-left: 0;
    height: 50px;
    position: absolute;
    display: none;

    p {
        text-align: center;
        color: black;
        font-weight: 400;
        margin-left: 4px;
        font-family: 'Inter';

    }

    @media (max-width: 501px) {
        display: none;
        bottom: 5%;
    }

}

.innerContainer {
    flex-direction: column;
}

.movieSummary {
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    color: black;
    font-weight: 300;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'Inter';
    display: none;

    @media (max-width: 501px) {
        display: none;
    }
}

.movieType {
    display: none;
    text-align: left;
    padding-left: 16px;
    color: black;
    font-weight: 400;
    font-family: 'inter';
    margin-top: 16px;
    font-size: 14px;

    @media (max-width: 501px) {
        display: none;
    }
}

.playIcon {
    padding: 2px;
    border: #2b2b2b solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 16px;
    margin-right: 10px;
    display: none;
}

//////////
.HoverCardContent {
  border-radius: 6px;
  padding: 20px;
  width: 300px;
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.HoverCardContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.HoverCardContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.HoverCardContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.HoverCardContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.HoverCardArrow {
  fill: white;
}

.ImageTrigger {
  cursor: pointer;
  border-radius: 100%;
  display: inline-block;
}
.ImageTrigger:focus {
  box-shadow: 0 0 0 2px white;
}

.Text {
  margin: 0;
  color: black;
  font-size: 15px;
  line-height: 1.5;
}

.TextBold {
  font-weight: 500;
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.SeparatorRoot {
    background-color: #767577;
}

.SeparatorRoot[data-orientation='horizontal'] {
    height: 1px;
    width: 100%;
}

.SeparatorRoot[data-orientation='vertical'] {
    height: 100%;
    width: 1px;
}