.categoryCardWrapper {
    background: #e0e0e0;
    border: solid 1px #ffffff;
    border-radius: 16px;
    position: relative;
    width: 25em;
    min-height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease-in-out 0.5s;
    margin-right: 24px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;

    @media (max-width: 769px) {
        width: 200px;        
    }

    @media (max-width: 769px) {
        width: 100%;        
    }

    @media (max-width: 426px) {
        width: 142px;
        margin-bottom: 16px;
        min-height: 320px        
    }

    @media (max-width: 376px) {
        width: 100%;
        margin-bottom: 16px;
        min-height: 460px        
    }

}
.innerCard{
   
    background: #e0e0e0;
    border: solid 1px #ffffff;
    border-radius: 16px;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    
}


.cardImage {
    border-radius: 8px;
    width: 100%;
    &:hover{
        backdrop-filter: brightness(80%);
    }
    
}

.movieTitle {
    text-align: center;
    font-size: 20px;
    color: #2b2b2b;
    text-transform: capitalize;

    @media (max-width: 426px) {
        font-size: 16px;
        text-align: left;
        margin-left: 16px
    }
}


.cardBtn{
    position: absolute;
    bottom: 8%;
    width: 60%;
    border: solid 1px #a0a0a0;
    padding: 8px;
    border-radius: 4px;
    display: none;
    
    justify-content: center;
    align-items: center;

    p{
        text-align: center;
        color: #292929;
        font-weight: 500;
        margin-left: 4px
    }

    &:hover{
        background-color: #FB1036;
        color: #ffffff;
        border: none;

        p{
            color: #ffffff;
        }
    }
}