.categoryCardWrapper {
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease-in-out 0.5s;
    margin-right: 24px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    margin-bottom: 0;
    height: fit-content;

    @media (max-width: 769px) {
        width: 200px;        
    }

    @media (max-width: 769px) {
        width: 100%;        
    }

    @media (max-width: 426px) {
        width: 142px;
        margin-bottom: 16px;
        min-height: 320px        
    }

    @media (max-width: 376px) {
        width: 100%;
        margin-bottom: 16px;
        min-height: 460px        
    }

    &:hover{
        .innerContainer{
            display: flex;
        }        
    }

}

.cardImage {
    width: 100%;
    border-radius: 8px;
}

.movieTitle {
    text-align: center;
    font-size: 20px;
    color: #2b2b2b;
    text-transform: capitalize;

    @media (max-width: 426px) {
        font-size: 16px;
        text-align: left;
        margin-left: 16px
    }
}

.cardBtn{
    position: absolute;
    bottom: 8%;
    width: 60%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    height: 40px;

    p{
        text-align: center;
        color: #FFF;
        font-weight: 500;
        margin-left: 4px;
    }

    &:hover{
        color: #ffffff;
        border: none;

        p{
            color: #ffffff;
        }
    }
}

.innerContainer{
    position: absolute;
    background-color: rgba(22, 22, 22, 0.8);
    border-radius: 8px;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}