.progressBar {
  width: 80%;
  height: 20px;
  background-color: #ccc;
  border: 1px solid #333;
  position: relative;
}

.progressBarFill {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 0.3s ease-in-out;
}