.buttonWrapper {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 240px;
    height: 48px;
    border-radius: 16px;
    cursor: pointer;

    &:hover{
        filter: opacity(0.8);
    }

    @media (max-width: 1701px) {
        width: 400px;
        height: 40px;
    }

    @media (max-width: 1441px) {
        width: 240px;
    }

    @media (max-width: 1126px) {
        width: 320px;
    }

    @media (max-width: 426px) {
        height: 48px;       
        width: 240px;
        padding: 4px;       
    }

    @media (max-width: 376px) {
        height: 40px;       
        width: 200px;
        padding: 4px;       
    }

    p {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: white;
        width: 100%;
        text-align: center;

        @media (max-width: 1701px) {
            font-size: 24px;
        }
        @media (max-width: 1441px) {
            font-size: 20px;
        }
        @media (max-width: 426px) {
            font-size: 16px;
        }
        @media (max-width: 376px) {
            font-size: 14px;
        }

        
    }


}