.videoContainer {
  width: 100vw;
  height: 80vh;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 80px;

  @media (max-width: 627px) {
    padding-top: 120px;
    height: 50vh;
    align-items: flex-start;
  }

  @media (max-width: 501px) {
    padding-top: 40px;
    height: 30vh;
    align-items: flex-start;
  }

  @media (max-width: 376px) {
    height: 30vh;
    align-items: flex-start;
  }

  @media (max-width: 321px) {
    height: 25vh;
    align-items: flex-start;
  }
}

.videoBgGradient {
  position: absolute;
  top: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #38383800 30%, #383838 100%);
}

.videoWrapper {
  position: relative;
  transition: all ease-in-out 0.5s;
  width: fit-content;
  z-index: 2;

  @media (max-width: 429px) {
    width: 100%;
    align-items: flex-start;
  }

  &:hover {
    .controlsContainer {
      display: flex;
      width: 100%;
    }
  }
}

.loader {
  @media (max-width: 501px) {
    transform: scale(50%) translateY(-270px) translateX(40px);
  }
}

.video {
  height: 80%;
  width: 70vw;
  background-color: #000000;
  box-shadow: 0px 4px 24px -1px #00000052;
  border-radius: 8px;

  @media (max-width: 769px) {
    height: 50vh;
  }

  @media (max-width: 725px) {
    height: 40vh;
  }

  @media (max-width: 627px) {
    width: 100%;
    height: 100%;
  }
}

.video::-webkit-media-controls {
  display: none !important;
}

.video::-webkit-media-controls-enclosure {
  display: none !important;
}


.controlsContainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: none;
  z-index: 20;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 100%);
  transition: all ease-in-out 0.5s;
  border-radius: 0 0 8px 8px;
}

.controlsInnerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 20;
  padding: 0px 16px;
}

.playbackIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-size: 109%;
  text-align: left;
  direction: ltr;
}

.leftControls {
  display: flex;
  align-items: flex-start;
  gap: 8px
}

.rightControls {
  display: flex;
  align-items: baseline;
  gap: 12px
}

.volumeIconContainer {
  display: flex;
  align-items: center;
}

.volumeRange {
  transition: all ease-in-out 0.5s;
  transform: translateY(-10%);
  margin-left: 8px;
}

// .volumeRange::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   background-color: #FF3354;
//   height: 20px;
//   width: 20px;
//   border-radius: 50%;
//   cursor: pointer;
// }

// .volumeRange::-moz-range-progress {
//   background-color: #FF3354;
//   height: 4px;
// }

// .volumeRange::-webkit-progress-inner-element {
//   background-color: #FF3354;
//   height: 4px;
// }

.timeControls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.timeLeft {
  color: white;
  text-align: right;
}

.timeRight {
  color: white;
  text-align: right;
}

.timelineContainer {
  height: 8px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;

  @media (max-width: 426px) {
    width: 70%;
  }
}

.timeline {
  height: 3px;
  background-color: #64646480;
  width: 100%;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: calc(100% - var(--buffer-position) * 100%);
  background-color: #969696;
}

.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: red;
}

.thumbIndicator {
  --scale: 0;
  position: absolute;
  height: 200%;
  top: -50%;
  transform: translateX(-50%) scale(var(--scale));
  left: calc(var(--progress-position) * 100%);
  background-color: red;
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
}

.previewImgContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  transform: translate(-50%, -100%);
  left: calc(var(--hover-position) * 100%);
  border-radius: .25rem;
  display: none;
  justify-content: center;
}

.previewImgTime {
  color: white;
  background-color: #1a1a1a;
  text-align: center;
}

.previewImg {
  height: 80px;
  width: 85px;
  border-radius: 8px;
}

.timelineContainer:hover .timeline::before {
  display: block;
}

.timelineContainer:hover .previewImgContainer {
  display: block;
}

.timelineContainer:hover .thumbIndicator {
  --scale: 1;
}

.timelineContainer:hover .timeline {
  height: 100%;
}

.userInteractionContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
}

.userInteractionWrapper {
  width: 60%;
  height: 40px;
  border-radius: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(26, 26, 26, 0.60);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  margin-top: 8px;

  p{
    color: white;
    
    @media (max-width: 456px){
      display: none;
    }
  }

  @media (max-width: 456px) {
    margin-top: 32px;
  }
  @media (max-width: 320px){
    margin-top: 84px;
    width: 70%;
  }
}

.userInteraction{
  display: flex;
  align-items: center;
  gap: 16px
}

.interactiveIcons{
  display: flex;
  gap: 16px
}

.socialMedia{
  display: flex;
  align-items: center;
  gap: 16px;
}

.socialMediaIcons{
  cursor: pointer;
  display: flex;
  align-items: center;
  transform: translateY(4px);
  gap: 16px;
}