.video {
  height: 70vh;
  width: 100vw;
  background-color: black;

  @media (max-width: 426px) {
    height: 46vh;       
}
}

.video::-webkit-media-controls {
  display: none !important;
}

.video::-webkit-media-controls-enclosure {
  display: none !important;
}

.videoWrapper {
  position: relative;
  transition: all ease-in-out 0.5s;

  &:hover {
    .controlsContainer {
      display: flex;
    }
  }
}

.controlsContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 20;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 100%);
  transition: all ease-in-out 0.5s;
}

.playbackIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  align-content: center;
  width: 33%;

  @media (max-width: 426px) {
    width: auto;
    margin-left: 18px;    
  }
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 64px;
  width: 33%;

  @media (max-width: 426px) {
    padding-right: 16px;
    width: auto;
  }
}

.controlIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.controlIconVolume {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 4px;
}

.volumeIconContainer {
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.5s;
  padding-left: 24px;
  width: 33%;

  @media (max-width: 426px) {
    padding-left: 16px;
    width: 1%;
  }

  p {
    color: white;
    @media (max-width: 426px) {
      display: none;
    }
  }

  &:hover {
    .volumeRange {
      width: 20%;
      display: block;
      opacity: 1;
      transform: scaleX(1);

      @media (max-width: 426px) {
        display: none;
      }
    }
  }
}

.volumeRange {
  -webkit-appearance: none;
  appearance: none;
  transition: all ease-in-out 0.5s;
  transform-origin: left;
  transform: scaleX(0);
  width: 0%;
  border-radius: 8px;
  opacity: 0;
}

.volumeRange::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  background: #FF3354;
  border-radius: 8px;
}

.volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.timeControls {
  // position: absolute;
  // bottom: 2rem;
  // margin-left: 1rem;
  // margin-bottom: -0.5rem;
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}

.time {
  color: white;
}

.timelineContainer {
  height: 8px;
  width: 90%;
  cursor: pointer;
  display: flex;
  align-items: center;

  @media (max-width: 426px) {
    width: 70%;        
  }
}

.timeline {
  height: 3px;
  background-color: rgba(100, 100, 100, .5);
  width: 100%;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(150, 150, 150);
  // display: none;
}

.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  // right: calc(100% - 100%);
  background-color: red;
  // display: none;
}

.thumbIndicator {
  --scale: 0;
  position: absolute;
  height: 200%;
  top: -50%;
  transform: translateX(-50%) scale(var(--scale));
  left: calc(var(--progress-position) * 100%);
  // left: 80%;
  background-color: red;
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
}

.previewImgContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  aspect-ratio: 16/ 9;
  top: -1rem;
  transform: translate(-50%, -100%);
  left: calc(var(--preview-position) * 100%);
  border-radius: .25rem;
  border: 2px solid white;
  display: none;
  justify-content: center;
}

.previewImgTime {
  color: white;
  background-color: #1a1a1a;
  border-top: 2px solid white;
  text-align: center;
}

.previewImg {
  height: 100px;
  width: 100px;
}

.timelineContainer:hover .timeline::before {
  display: block;
}

.timelineContainer:hover .previewImgContainer {
  display: block;
}

.timelineContainer:hover .thumbIndicator {
  --scale: 1;
}

.timelineContainer:hover .timeline {
  height: 100%;
}