.searchBtn {
    margin-left: -24px;
    border-radius: 0px 36px 36px 0px;
    background-color: #161616;
    height: 100%;
    outline: none;
    border: none;

    &:hover {
        background-color: #333232;
    }

    @media (max-width: 1601px) {
        height: 100%;
    }

    @media (max-width: 1441px) {
        padding: 8px;
        padding-right: 16px;
        font-size: 16px;
    }
}

.SearchBar {
    font-family: Ubuntu;
    outline: none;
    background: linear-gradient(91.3deg, #161616df 4.17%, #161616c6 99.55%);
    border-radius: 32px;
    padding: 8px 24px;
    color: #fff;
    border: solid 1px #161616;
    font-size: 16px;
    height: 60%;
    width: 320px;

    &:placeholder {
        color: #ffffff;
    }

    @media (max-width: 1441px) {
        font-size: 16px;
    }

    @media (max-width: 586px) {
        width: 75%;
        margin-left: 16px;
        background-color: #000000;
        color: white;
    }
    @media (max-width: 376px) {
        width: 60%;
    }
}

.searchForm {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;


    @media (max-width: 1441px) {
        height: 28px;
    }
}