.NavWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90.34deg, rgba(247, 247, 247, 0.87) 2.14%, rgba(255, 255, 255, 0.44) 55.82%);
    border: 1px solid rgba(22, 22, 22, 0.9);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.32);
    border-top: none;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 0;
    z-index: 100;
    width: inherit;
    height: 100px;
    padding: 32px 72px;

    @media (max-width: 2881px) {
        padding: 32px 80px;
    }

    @media (max-width: 1801px) {
        padding: 24px 40px;
        height: 80px;
    }

    @media (max-width: 1441px) {
        height: 24px;
        padding-left: 0px;
        margin-left: -32px;
    }

    @media (max-width: 426px) {
        padding: 8px 16px;
        height: 40px;
    }

    @media (max-width: 321px) {
        padding: 16px 16px;
    }
}

.NavLeft {
    display: flex;
    justify-content: flex-start;
}

.logo {
    @media (max-width: 1801px) {
        transform: scale(70%);
    }
    
    @media (max-width: 1441px) {
        transform: scale(50%);
    }

    @media (max-width: 321px) {
        transform: scale(115%);
        margin-left: 40px;
        margin-right: 24px;
    }
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Ubuntu;
    font-weight: 600;
    padding-left: 100px;

    @media (max-width: 1441px) {
        font-size: 24px;
        padding-left: 0px;
    }

    @media (max-width: 321px) {
        margin-right: 8px;
        font-size: 10px;
    }
}

.link {
    font-size: 48px;
    margin-right: 48px;

    &:hover {
        color: #ff3a5ab3;
    }

    @media (max-width: 1801px) {
      font-size: 32px;
    }

    @media (max-width: 1441px) {
        font-size: 20px;
    }

    @media (max-width: 1025px) {
        font-size: 20px;
    }

    @media (max-width: 769px) {
        margin-right: 32px;
    }

    @media (max-width: 427px) {
        font-size: 16px;
        margin-right: 24px;
    }
    
}

.NavRight {
    display: flex;
    align-items: center;
    margin-right: 156px;

    @media (max-width: 1441px) {
        margin-right: 40px;
    }

    @media (max-width: 1025px) {
        margin-right: 32px;
    }

    @media (max-width: 769px) {
        margin-right: 56px;
    }

    @media (max-width: 426px) {
        display: none;
    }
}

.SearchBar {
    font-family: Ubuntu;
    outline: none;
    background: linear-gradient(91.3deg, rgba(22, 22, 22, 0.873) 4.17%, rgba(22, 22, 22, 0.776) 99.55%);
    border-radius: 36px;
    padding-top: 16px;
    padding-left: 8px;
    padding-bottom: 16px;
    padding-left: 24px;
    width: 1000px;
    height: 64px;
    color: white;
    border: solid 1px #161616;
    font-size: 32px;

    &:placeholder {
        color: white;
    }

    @media (max-width: 2161px) {
        width: 700px;
    }

    @media (max-width: 1801px) {
        font-size: 24px;
        height: 48px;
        width: 600px;
    }

    @media (max-width: 1441px) {
        width: 500px;
        height: 32px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 16px;
    }

    @media (max-width: 1025px) {
        width: 300px;
        height: 28px;
        font-size: 16px;
    }

    @media (max-width: 769px) {
        width: 240px;
    }
}