.NavContainer {
    position: relative;
    width: 100vw;
    background-color: #03030300;
}

.NavWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f7f7;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.32);
    border-top: none;
    // backdrop-filter: blur(20px);
    position: fixed;
    top: 0%;
    z-index: 3001;
    width: 100vw;
    height: 80px;

    @media (max-width: 1441px) {
        height: 56px;
    }
    @media (max-width: 586px) {
        display: none;
    }
}

.NavLeft {
    display: flex;
    margin-left: 132px;
    gap: 8px;
    justify-content: flex-start;

    @media (max-width: 1601px) {
        margin-left: 64px;
    }
    @media (max-width: 1441px) {
        margin-left: 32px;
    }
    @media (max-width: 1025px) {
        margin-left: 32px;
    }
    @media (max-width: 821px) {
        margin-left: 16px;
    }
}

.NavRight {
    display: flex;
    align-items: center;
    margin-right: 132px;

    @media (max-width: 1601px) {
        margin-right: 64px;
    }

    @media (max-width: 1441px) {
        margin-right: 32px;
    }

    @media (max-width: 1025px) {
        margin-right: 16px;
    }

    @media (max-width: 821px) {
        margin-right: 24px;
    }
}

.logo {
    align-self: center;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Ubuntu;
    font-weight: 400;
    padding-left: 32px;
    gap: 24px;

    @media (max-width: 1441px) {}

    @media (max-width: 769px) {
        display: none
    }
}

.link {
    font-size: 24px;
    transition: all ease-in-out 0.2s;
    color: #161616;

    &:hover {
        transform: translateY(-10%);
        color: #ff5a5a;
    }

    @media (max-width: 1441px) {
        font-size: 20px;        
    }
}

.searchresultsModal {
    // position: relative;
    // height: 320px;
    // overflow-y: scroll;
    // width: 400px;
    // background-color: #161616;
    // border-radius: 8px;
    // z-index: 30;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    background-color: #161616;
    z-index: 30;
    width: 480px;
    height: fit-content;
    max-height: 560px;
    overflow-y: scroll;
    right: 132px;
    top: 88px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (max-width: 1601px) {
        right: 64px;
    }

    @media (max-width: 1441px) {
        right: 32px;
    }

    @media (max-width: 1025px) {
        right: 16px;
    }

    @media (max-width: 426px) {
        display: none;

    }

}

.searchresultsModalInnerContainer {
    // position: absolute;
    // right: 5%;
    // top: 50%;
}

.modalHeader {
    width: 100%;
    position: sticky;
    top: 0;
    background: #030303;
}

.closeBtn {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
    border-radius: 16px 16px 0 0;
}

.modalContent {
    padding-top: 0px;
}

.result {
    display: flex;
    padding: 16px 16px;
    border-top: solid 1px #292929;
    cursor: pointer;

    &:hover {
        background-color: #1f1f1f;
    }
}

.resultDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.resultTitle {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 16px;
    margin-left: 24px;
    color: #f3f3f3;
}

.resultCreator {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 16px;
    margin-left: 24px;
    color: #727272;
    margin-top: 8px;
}

.resultTime {
    font-family: Ubuntu;
    font-weight: 300;
    font-size: 16px;
    margin-left: 24px;
    color: #727272;
    margin-top: 8px;
}

.navLogo {
    align-self: center;
}

.NavWrapperMobile{
    display: none;
    
    @media (max-width: 586px) {
        display: flex;
        background: linear-gradient(182.7deg, #FFFFFF 2.25%, #ffffff 97.74%);
        height: 40px;
        width: 100%;
        padding-left: 16px;
        align-items: center;
        z-index: 30;
        justify-content: space-between;
        position: fixed;
        top: 0;        
    }
}

.leftMobile{
    display: flex;
    align-items: center;
}

.rightMobile{
    margin-right: 32px;
}

.searchInputMobile{
    display: none;
    z-index: 5050;

    @media (max-width: 426px) {
        display: flex;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #030303a2;
        padding-top: 72px;
        flex-direction: column;
        align-items: center;
    }
}

.header{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;

    @media (max-width: 380px) {
        gap: 24px
    }
}

.mobileSearchResultsModal{
    width: 80%;
    height: 400px;
    background-color: #1f1f1f;
    border-radius: 8px;
    margin-top: 16px;
    overflow: hidden;
    overflow-y: scroll;

    @media (max-width: 380px) {
        width: 90%;
    }
}